services:
  app:
    build: .
    volumes:
      - ".:/data/app"
    working_dir: "/data/app"
    container_name: "ecotone_demo"
    networks:
      - default
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      COMPOSE_HTTP_TIMEOUT: 9999
      APP_INSTALL_DEPENDENCIES: 'no'
      RABBIT_DSN: "amqp://guest:guest@rabbitmq:5672/%2f"
      DATABASE_DSN: pgsql://app:!ChangeMe!@database:5432/app
      XDEBUG_ENABLED: "0"
      OTEL_SERVICE_NAME: "resilient_service"
      REDIS_DSN: "redis://redis:6379"
    ports:
      - "4000:80"
    depends_on:
      - redis
  app_consumer:
      image: simplycodedsoftware/nginx-php:8.4.7
      volumes:
        - ".:/data/app"
      working_dir: "/data/app"
      container_name: "ecotone_demo_consumer"
      networks:
        - default
      extra_hosts:
        - "host.docker.internal:host-gateway"
      command: "bin/console ecotone:run async"
      environment:
        COMPOSE_HTTP_TIMEOUT: 9999
        APP_INSTALL_DEPENDENCIES: 'no'
        DATABASE_DSN: pgsql://app:!ChangeMe!@database:5432/app
        XDEBUG_ENABLED: "0"
        OTEL_SERVICE_NAME: "resilient_service"
        REDIS_DSN: "redis://redis:6379"
      depends_on:
        - redis
        - app
  redis:
    image: redis:7-alpine
    ports:
      - "4003:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      timeout: 5s
      retries: 5
  database:
      image: postgres:${POSTGRES_VERSION:-18}-alpine
      environment:
          POSTGRES_DB: ${POSTGRES_DB:-app}
          # You should definitely change the password in production
          POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
          POSTGRES_USER: ${POSTGRES_USER:-app}
      healthcheck:
          test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}" ]
          timeout: 5s
          retries: 5
          start_period: 60s
      ports:
        - "4002:5432"
  mailer:
      image: axllent/mailpit
      ports:
        - "4001:8025"
      environment:
          MP_SMTP_AUTH_ACCEPT_ANY: 1
          MP_SMTP_AUTH_ALLOW_INSECURE: 1
